{% extends 'base.html' %}

{% block content %}

<body>
    <div class="container">
        <div class="row text-center d-flex justify-content-center mt-5">
            <div class="col-sm-3">
                <a href="{% url 'showPhone' %}">
                    <div class="card">
                        <div class="card-body" style='background-color: khaki;'>
                            <i class='bi bi-phone text-center' style='font-size: 60px;'></i>
                            <h6>الهواتف الذكية</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="{% url 'showApppliance' %}">
                    <div class="card">
                        <div class="card-body" style='background-color: lightblue;'>
                            <i class='bi bi-house text-center' style='font-size: 60px;'></i>
                            <h6>أدوات المنزل</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row text-center d-flex justify-content-center mt-5">
            <div class="col-sm-3">
                <a href="#">
                    <div class="card">
                        <div class="card-body" style='background-color: palevioletred;'>
                            <i class='bi bi-power text-center' style='font-size: 60px;'></i>
                            <h6> أدوات كهربائية</h6>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#">
                    <div class="card">
                        <div class="card-body" style='background-color: lightskyblue;'>
                            <i class='bi bi-yelp text-center' style='font-size: 60px;'></i>
                            <h6>ادوات النظافة</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
{% endblock %}